# working files
.vim/viminfo
.vim/swaps/*
.vim/undo
.vim/backups
.vim/fonts
.vim/plugged
.vim/.nviminfo
.netrwhist
.config/vim/plugged
.config/vim/fonts

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.extra
extra.*
.config/zsh/env/extra.zsh
*.zwc
tags
